/* ——— Fondo general de la sección de cartas en modo oscuro ——— */
.dark-mode body,
.dark-mode .body-c,
.dark-mode #carta {
  background-color: #121212 !important;
}

/* Asegurarnos de que ningún contenedor interno tenga fondo blanco */
.dark-mode #carta .row,
.dark-mode #carta .container {
  background: transparent !important;
}

///////
.carta-descripcion {
  color: #333;
}

/* En modo oscuro */
body.dark-mode .carta-descripcion {
  color: #fff;
}
